body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px;
}

form {
  width: 300px;
  padding: 10px;
}

form label {
  display: block;
  width: 100%;
  text-transform: capitalize;
}

form input[type=text] {
  width: 100%;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

fieldset {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #E5E5E5;
}

legend {
  text-transform: uppercase;
  font-weight: 500;
}

.left  { float: left; }
.right { float: right }
.clear { clear: both; }
.hide  { display: none ;}

.mt { margin-top: 7px; }
.mr { margin-right: 7px; }
.mb { margin-bottom: 7px; }
.ml { margin-left: 7px; }

.mt12 { margin-top: 12px; }
.mr12 { margin-right: 12px; }
.mb12 { margin-bottom: 12px; }
.ml12 { margin-left: 12px; }

.mt20 { margin-top: 20px; }
.mr20 { margin-right: 20px; }
.mb20 { margin-bottom: 20px; }
.ml20 { margin-left: 20px; }

.mt30 { margin-top: 30px; }
.mr30 { margin-right: 30px; }
.mb30 { margin-bottom: 30px; }
.ml30 { margin-left: 30px; }

.email-results {
  display: block;
  width: 300px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Verdana, "Bitstream Vera Sans", sans-serif;
  padding: 10px;
  margin-right: 20px;
}

.email-results h4, .rapportive-results-container h4 {
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

.email-results span {
  width: 100%;
  display: block;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid #E5E5E5;
}

.result-count {
  font-size: 10px;
  font-style: italic;
  color: #9BA09F;
}

.rapportive-results-container {
  display: block;
  width: 700px;
  margin-top: 10px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Verdana, "Bitstream Vera Sans", sans-serif;
}
.rapportive-results {
  display: block;
  width: 700px;
  height: 600px;
  padding: 10px;
  overflow: auto;
}

.loader-email, .loader-rapportive, .loader-session {
  width: 100%;
}

.loader-email span, .loader-rapportive span, .loader-session span {
  background-image: url('../images/ajax-loader.gif');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  border-bottom: none;
  margin: auto;
  display: block;
}

pre {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #E5E5E5;
  padding: 15px;
}

.session-token-container {
  width: 780px;
  border-radius: 5px;
  border: 1px solid #9BA09F;
  background-color: #E5E5E5;
  padding: 7px 20px 7px 7px;
}

.session-token-container label {
  width: 100%;
  margin-bottom: 7px;
  font-size: 10px;
  text-transform: uppercase;
}

.session-token-container span {
  padding: 7px;
  display: block;
  width: 100%;
  height: auto;
  word-wrap: break-word;
}

.rapportive-container {
  width: 100%;
}

.session-token-input-container {
  width: 950px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #9BA09F;
  background-color: #E5E5E5;
}

.session-token-input-container textarea {
  width: 95%;
  height: 60px;
}

.session-token-input-container label {
  width: 100%;
  display: block;
}

/**************************************************************************************************/
/**************************************************************************************************/

h3 {
  border-bottom: 1px solid #9BA09F;
  padding-bottom: 4px;
  width: 300px;
}
span {
  display: block;
  height: 23px;
  padding: 5px;
}
.row-label {
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}
.row-value {
  padding-left: 10px;
  margin-bottom: 7px;
  background-color: #E5E5E5;
  border-radius: 2px;
}
.sub-details {
  width: 100%;
  margin-left: 7px;
}

.navlist {
  margin-left: -17px;
}
.navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.navlist a {
  text-decoration: none;
}